body {
  font-family: 'Playfair Display', serif;
}

#article-dropdown {
 background: white;
}

h2 {
  color: red;
  text-align: center;
}


.z-depth-1, 
nav, 
.card-panel, 
.card, 
.toast, 
.btn, 
.btn-large, 
.btn-floating, 
.dropdown-content, 
.collapsible, 
.side-nav {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0); 
}

nav {
  background-color: #333333;
}

.card {
  background: #f2f2f2;
  height: 580px;
  border-top: 15px solid #00aced;
  position: relative;
}

.card h3 {
  font-size: 30px;
}

i, cite, em, var, address, dfn {
   font-style: normal
}


p {
 overflow: auto;
 /*background: #cccccc;*/
 text-align: left;
     padding: 5px;
}
.footer-p{
  color: white;
  background: none;
}
/*a {
  background: #00aced;
}
*/

/*.modal-trigger waves-effect waves-light btn {
  background: #00aced;
}
*/

.btn, 
.btn-large {
   background-color: #00aced;
} 


h6 {
  display: inline-block;
}

/*Changes Materilize*/

.collapsible {
  box-shadow: none;
}

.inside-collapsible {
  margin: 0 1rem 1rem;
}


/*CALL OUT TOP OF THE PAGE*/

#callout h2 {
  color: red;
}

img {
  max-width: 100%;
}

#logoNewsFeed {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

#twitterBox {
  /*border: 2px solid #00aced;*/
  height: 40%;
  width: 100%;
}

#hashTagContainer {
  font-size: 20px;
  color: white;
}

/*p {
  display: inline-block;
}*/

/*Twitter*/

.tweet {
  padding: 5px;
  border: 1px solid rgba(50,51,50,0.5);
  margin-bottom: 10px;
  background-color: #fdfdfd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.twitter-button {
  margin-top: 12px;
  border: 1px solid #00aced;
  background-color: #00aced;
  color: white;
  font-size: 20px;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 20px;
}

footer.page-footer {
  background-color: #333333;
  height: 180px;
}

/*Tweet feed area*/
.full-name{
    font-weight: bold;
  }

.username {
  color: #00aced;
}
.twitter-pic{
  position: absolute;
  left: 40px;
}

.tweet {
  text-align: center;
}
.names{
  display: inline-block;
  padding-bottom: 10px;
}

.text {
  text-align: center;
}

#twitter-area {
  padding: 10px;
  overflow: auto;
}

.noshow{
  display: none;
}

.eighty{
  display: inline-block;
  width: 75%;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 5px;
  padding-left: 20px;
  padding-top: 2px;
}

.twenty{
  display: inline-block;
  width: 20%
}

.twitter-pic{
  border-radius: 50%;
}
.text-darken-4{
  font-size: 2rem !important ;
  line-height: 1.5 !important ;
}

.fa-twitter:before {
  position: absolute;
  bottom: 6px;
}
.second:before{
  top: 15px;
  left: 15px;
}

.article-text{
  line-height: 1.7;
  background: white;
  font-size: 18px;
}

.btn:focus,
button:focus{
  background-color: #00aced;
}

.btn:hover,
button:hover{
  background-color: #00aced;
}

.btn:active,
button:active{
  background-color: #00aced;
}

