body {
  font-family: 'Playfair Display', serif;
}

#article-dropdown {
 background: white;
}

h2 {
  color: red;
  text-align: center;
}


.z-depth-1, 
nav, 
.card-panel, 
.card, 
.toast, 
.btn, 
.btn-large, 
.btn-floating, 
.dropdown-content, 
.collapsible, 
.side-nav {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0); 
}

nav {
  background-color: #333333;
}

.card {
  background: #f2f2f2;
  height: 550px;
  border-top: 15px solid #00aced;
}

i, cite, em, var, address, dfn {
   font-style: normal
}

p {
 overflow: auto;
 background: #cccccc;
 text-align: left;
     padding: 5px;
}

/*a {
  background: #00aced;
}
*/

/*.modal-trigger waves-effect waves-light btn {
  background: #00aced;
}
*/

.btn, 
.btn-large {
   background-color: #00aced;
} 


h6 {
  display: inline-block;
}

/*Changes Materilize*/

.collapsible {
  box-shadow: none;
}

.inside-collapsible {
  margin: 0 1rem 1rem;
}


/*CALL OUT TOP OF THE PAGE*/

/*#callout {
  background-image: url(https://i.guim.co.uk/img/media/e98ab675da0c019634a9258bd651378145f02419/498_157_1979_1187/master/1979.jpg?w=1920&q=85&auto=format&sharp=10&s=ab37b4b4d6d78114bdada7f0ebd4d7cc);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 0; */
}

#callout h2 {
  color: red;
}

img {
  max-width: 100%;
}

#logoNewsFeed {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

#hashTagContainer {
  height: 20px;
  border: 1px solid #00aced;
  overflow: auto;
}

/*Twitter*/

.tweet {
  padding: 5px;
  border: 1px solid rgba(50,51,50,0.5);
  margin-bottom: 10px;
  background-color: #fdfdfd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.twitter-button {
  float: right;
  border: 1px solid #00aced;
  border-radius: 50px;
  background-color: #00aced;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer.page-footer {
  background-color: #333333;
}



#twitter-area {

  padding: 10px;
  overflow: auto;
}

.noshow{
  display: none;
}